<p>
  <b>Nombre de Usuario</b>
  <%= @user.username %>
</p>

<p>
  <b>Administrador</b>
  <%= @user.isadmin %>
</p>

<% if can? :update, @user %>
  <%= link_to 'Editar', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Regresar', users_path %>

