<p>
  <b>Nombre de Usuario</b>
  <%= @user.username %>
</p>

<p>
  <b>Administrador</b>
  <%= @user.isadmin %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
